body{
    margin: 0px;
}
#logo {
    position: absolute;
    width: 77px;
    height: 33px;
    padding-left: 107px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: open sans;
    letter-spacing: .1em;
    text-transform: uppercase;
}

#game-jadul {
    position: relative;
    height: 100vh;
    background-image: url(../asset/main-bg.jpg);
    background-color: white;
    background-size: cover;
}

#gj-header {
    position: absolute;
    width:max-content;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
}  

#gj-paragraph {
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 25px;
    line-height: 15px;
    letter-spacing: 2px;
    color: white;
}    

#gj-button {
    position: absolute;
    left: 50%;
    bottom: 35%;
    transform: translate(-50%, -50%);
}

#gj-text {
    position: absolute;
    left: 50%;
    bottom: 12%;
    transform: translate(-50%, -50%);
    font-family: open sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

#carousel-rps {
    position: relative;
    height: 100vh;
    background-image: url(../asset/the-games-bg.jpg);
    background-size: cover;
}



#c-indicator {
    padding-left: 10px;
}

#c-text1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: white;
}

#c-text2 {
    height: 73px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
}

#feature {
    position: relative;
    height: 100vh;
    background-image: url(../asset/features.jpg);
    background-size: cover;
    background-color: white;
}

#feature-text1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: white;
}

#feature-text2 {
    padding-top: 20px;
    height: 73.64px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
}

#feature-text3 {
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffb548;
}

#feature-text4 {
    padding-top: 30px;
    width: 475px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2px;
    color: white;
}

#feature-text5 {
    padding-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffb548;
}

#feature-text6 {
    padding-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffb548;
}

#dot1 {
    top: 500px;
    left: 500px;
    background-color: white;
}

#dot2 {
    margin-top: 500px;
    margin-left: 500px;
    background-color: black;
}

#dot3 {
    margin-top: 500px;
    margin-left: 500px;
    background-color: black;
}

#requirement {
    position: relative;
    height: 100vh;
    background-image: url(../asset/requirements.jpg);
    background-size: cover;
    background-color: white;
}

#req-text {
    padding-left: 50px;
}

#req-text1 {
    position: absolute;
    width: 300px;
    margin-left: 225px;
    margin-top: 140px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
}

#req-text2 {
    position: absolute;
    margin-left: 670px;
    margin-top: 150px;
    padding-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    letter-spacing: 2px;
    color: white;
}

#req-table {
    position: absolute;
    margin-top: 316px;
    margin-left: 229px;
    padding-top: 100px;
    padding-left: 44px;
}

#table {
    position: absolute;
    width: 670px;
    height: 400px;
    border: 1px solid #979797;
  }


#top-score {
    position: relative;
    height: 100vh;
    background-image: url(../asset/top-score-bg.jpg);
    background-size: cover;
    background-color: grey;
}

#ts-text1 {
    position: absolute;
    margin-left: 158px;
    margin-top: 365px;
    height: 154px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
}

#ts-text2 {
    position: absolute;
    width: 370px;
    margin-left: 170px;
    margin-top: 470px;
    height: 154px;
    font-family: open sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

#ts-button {
    position: absolute;
    margin-left: 163px;
    margin-top: 540px;
}

#card1 {
    position: absolute;
    margin-top: 155px;
    margin-left: 1100px;
}

#card2 {
    position: absolute;
    margin-top: 385px;
    margin-left: 1000px;
}

#card3 {
    position: absolute;
    margin-top: 620px;
    margin-left: 1050px;
}

#last-page {
    position: relative;
    height: 100vh;
    background-image: url(../asset/top-score-bg.jpg);
    background-size: cover;
    background-color: white;
}

#lp-text1 {
    margin-top: 30px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

#lp-text2 {
    margin-top: 15px;
    height: 76px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 92px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#lp-text3 {
    margin-top: 120px;
    padding-bottom: 60px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

#lp-formbutton {
    margin-top: 20px;
}

#lp-button {
    margin-left: 385px;
}

#lp-tct2a {
    padding-right: 10px;
}

#lp-tct2b {
    padding-right: 10px;
}

#lp-tct2c {
    padding-right: 10px;
}

#lp-tct2d {
    padding-right: 10px;
}

.nb {
    padding-top: 10px;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    font-family: open sans;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;
}
.tombol {
    border-radius: 12px;
    width: 300px;
    height: 60px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    border: hidden;
    border-radius: 7px;
}

.triangle {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -50%);
}

.c-container {
    display: flex;
    flex-direction: row;
}

.c-left {
    margin-top: 20px;
    padding-top: 200px;
    padding-left: 165px;
    
}
.c-right{
    padding-top: 250px;
    padding-left: 85px;
    width: 858px;
    height: 477px;
}

.carousel-inner {
    width: 858px;
    height: 477px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 10px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    margin: 0px 7px !important;

}

.carousel-control-next {
    padding-left: 90px;
}

.f-container1 {
    padding-top: 225px;
    padding-left: 1105px;
}

.f-container2 {
    padding-left: 1140px;
}

.dot {
    
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.vl {
    padding-right: 10px;
    padding-bottom: ;
    border-left: 4px white solid;
    height: 200px;
    
}



.rt-title {
    margin-top: 8px;
    margin-left: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
    /*border-color: #979797;*/
  }

.rt-desc {
    margin-top: 15px;
    margin-left: 12px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  }

.card {
    width: 450px;
    height: 200px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
}

.card-avatar {
    flex:1;
    height: 65px;
    width: 65px;
    border-radius: 100%;
    padding: 10px;
}

.card-name {
    position: absolute;
    padding-left: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

.card-job {
    position: absolute;
    padding-top: 35px;
    padding-left: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
}

.card-title-container {
    flex: 1;
    padding-top: 20px;
    padding-left: 50px;    
    
}

.card-caption {
    position: absolute;
    padding-top: 111px;
    padding-left: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.card-date {
    position: absolute;
    padding-top: 165px;
    padding-left: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.card-social-icon {
    padding: 20px;

}

a {
    background-color: transparent;
}

a:hover {
    background-color: #00acee;
  }

.lp-container {
    display: flex;
    flex-direction: row;
}

.lp-right {
    padding-left: 250px;
    padding-top: 60px;
}

.lp-left {
    padding-left: 250px;
    padding-top: 80px;
    width: 445px;
    height: 695px;
    background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%);
}

.form-control {
    position: absolute;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    width: 366px;
    height: 60px;
}

::placeholder {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFB548;
}

.lp-footer {
    display: flex;
    margin-top: 120px;
    margin-left: 500px;
}

.bn-menu {
    padding-right: 120px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.bn-social {
    display: flex;
}

.h-line {
    position: absolute;
    margin-left: 200px;
    color: white;
    width: 1480px;
    opacity: 0.5;
}

.lp-tc {
    display: flex;
    margin-top: 40px;
    margin-left: 200px;
}

.lp-tc-text1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.lp-tc-text2 {
    display: flex;
    padding-left: 725px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}
/*onlyscreen kemungkinan besar tidak jalan maaf banget cuma tampilan desktop yang bisa diselesaikan*/
@media only screen 
  and (max-device-width: 1200px) {
    body{
        
        #feature {
            position: relative;
            height: 100vh;
            background-image: url(../asset/features.jpg);
            background-size: cover;
            background-color: white;
        }
        
        #feature-text1 {
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 1px;
            color: white;
        }
        
        #feature-text2 {
            padding-top: 20px;
            height: 73.64px;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 34px;
            line-height: 36px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: white;
        }
        
        #feature-text3 {
            padding-top: 100px;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #ffb548;
        }
        
        #feature-text4 {
            padding-top: 30px;
            width: 475px;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 2px;
            color: white;
        }
        
        #feature-text5 {
            padding-top: 70px;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #ffb548;
        }
        
        #feature-text6 {
            padding-top: 70px;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20x;
            line-height: 22px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #ffb548;
        }
        
        #dot1 {
            top: 500px;
            left: 500px;
            background-color: white;
        }
        
        #dot2 {
            margin-top: 500px;
            margin-left: 500px;
            background-color: black;
        }
        
        #dot3 {
            margin-top: 500px;
            margin-left: 500px;
            background-color: black;
        }
        
        #requirement {
            position: relative;
            height: 100vh;
            background-image: url(../asset/requirements.jpg);
            background-size: cover;
            background-color: white;
        }
        
        #req-text {
            padding-left: 50px;
        }
        
        #req-text1 {
            position: absolute;
            width: 300px;
            margin-left: 225px;
            margin-top: 140px;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 56px;
            line-height: 64px;
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: white;
        }
        
        #req-text2 {
            position: absolute;
            margin-left: 670px;
            margin-top: 150px;
            padding-left: 80px;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            text-align: left;
            letter-spacing: 2px;
            color: white;
        }
        
        #req-table {
            position: absolute;
            margin-top: 316px;
            margin-left: 229px;
            padding-top: 100px;
            padding-left: 44px;
        }
        
        #table {
            position: absolute;
            width: 670px;
            height: 400px;
            border: 1px solid #979797;
          }
        
        
        #top-score {
            position: relative;
            height: 100vh;
            background-image: url(../asset/top-score-bg.jpg);
            background-size: cover;
            background-color: grey;
        }
        
        #ts-text1 {
            position: absolute;
            margin-left: 158px;
            margin-top: 365px;
            height: 154px;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 56px;
            line-height: 64px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: white;
        }
        
        #ts-text2 {
            position: absolute;
            width: 370px;
            margin-left: 170px;
            margin-top: 470px;
            height: 154px;
            font-family: open sans;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: white;
        }
        
        #ts-button {
            position: absolute;
            margin-left: 163px;
            margin-top: 540px;
        }
        
        #card1 {
            position: absolute;
            margin-top: 155px;
            margin-left: 1100px;
        }
        
        #card2 {
            position: absolute;
            margin-top: 385px;
            margin-left: 1000px;
        }
        
        #card3 {
            position: absolute;
            margin-top: 620px;
            margin-left: 1050px;
        }
        
        #last-page {
            position: relative;
            height: 100vh;
            background-image: url(../asset/top-score-bg.jpg);
            background-size: cover;
            background-color: white;
        }
        
        #lp-text1 {
            margin-top: 30px;
            font-family: Arial;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 2px;
            color: #FFFFFF;
        }
        
        #lp-text2 {
            margin-top: 15px;
            height: 76px;
            font-family: Arial;
            font-style: normal;
            font-weight: normal;
            font-size: 80px;
            line-height: 92px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        
        #lp-text3 {
            margin-top: 120px;
            padding-bottom: 60px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
        }
        
        #lp-formbutton {
            margin-top: 20px;
        }
        
        #lp-button {
            margin-left: 385px;
        }
        
        #lp-tct2a {
            padding-right: 10px;
        }
        
        #lp-tct2b {
            padding-right: 10px;
        }
        
        #lp-tct2c {
            padding-right: 10px;
        }
        
        #lp-tct2d {
            padding-right: 10px;
        }
        
        .nb {
            padding-top: 10px;
            font-size: 12px;
            line-height: 16px;
            font-weight: bold;
            font-family: open sans;
            letter-spacing: .1em;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: white;
        }
        .tombol {
            border-radius: 12px;
            width: 300px;
            height: 60px;
            background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
            border-radius: 4px;
            text-align: center;
            display: inline-block;
            font-size: 15px;
            font-weight: 700;
            border: hidden;
            border-radius: 7px;
        }
        
        .triangle {
            position: absolute;
            left: 50%;
            bottom: 10%;
            transform: translate(-50%, -50%);
        }
        
        .c-container {
            display: flex;
            flex-direction: row;
        }
        
        .c-left {
            margin-top: 20px;
            padding-top: 200px;
            padding-left: 50px;
            
        }
        .c-right{
            padding-top: 250px;
            padding-left: 35px;
            width: 429px;
            height: 238px;
        }
        
        .carousel-inner {
            width: 858px;
            height: 477px;
        }
        
        .carousel-indicators [data-bs-target] {
            width: 10px;
            height: 10px;
            border-radius: 10px !important;
            border-top: 0px !important;
            border-bottom: 0px !important;
            margin: 0px 7px !important;
        
        }
        
        .carousel-control-next {
            padding-left: 90px;
        }
        
        .f-container1 {
            padding-top: 225px;
            padding-left: 805px;
        }
        
        .f-container2 {
            padding-left: 1140px;
        }
        
        .dot {
            
            height: 20px;
            width: 20px;
            border-radius: 50%;
        }
        
        .vl {
            padding-right: 10px;
            padding-bottom: ;
            border-left: 4px white solid;
            height: 200px;
            
        }
        
        
        
        .rt-title {
            margin-top: 8px;
            margin-left: 12px;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 2px;
            color: #FFB548;
            /*border-color: #979797;*/
          }
        
        .rt-desc {
            margin-top: 15px;
            margin-left: 12px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
          }
        
        .card {
            width: 450px;
            height: 200px;
            background: rgba(255, 255, 255, 0.08);
            border-radius: 10px;
        }
        
        .card-avatar {
            flex:1;
            height: 65px;
            width: 65px;
            border-radius: 100%;
            padding: 10px;
        }
        
        .card-name {
            position: absolute;
            padding-left: 7px;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 2px;
            color: #FFB548;
        }
        
        .card-job {
            position: absolute;
            padding-top: 35px;
            padding-left: 10px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            text-align: justify;
            color: #FFFFFF;
        }
        
        .card-title-container {
            flex: 1;
            padding-top: 20px;
            padding-left: 50px;    
            
        }
        
        .card-caption {
            position: absolute;
            padding-top: 111px;
            padding-left: 10px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            color: #FFFFFF;
        }
        
        .card-date {
            position: absolute;
            padding-top: 165px;
            padding-left: 10px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: #FFFFFF;
            mix-blend-mode: normal;
            opacity: 0.5;
        }
        
        .card-social-icon {
            padding: 20px;
        
        }
        
        a {
            background-color: transparent;
        }
        
        a:hover {
            background-color: #00acee;
          }
        
        .lp-container {
            display: flex;
            flex-direction: row;
        }
        
        .lp-right {
            padding-left: 250px;
            padding-top: 60px;
        }
        
        .lp-left {
            padding-left: 250px;
            padding-top: 80px;
            width: 445px;
            height: 695px;
            background: radial-gradient(45.43% 53.19% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%);
        }
        
        .form-control {
            position: absolute;
            background: rgba(255, 255, 255, 0.08);
            border-radius: 5px;
            width: 366px;
            height: 60px;
        }
        
        ::placeholder {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            color: #FFB548;
        }
        
        .lp-footer {
            display: flex;
            margin-top: 120px;
            margin-left: 500px;
        }
        
        .bn-menu {
            padding-right: 120px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            text-align: right;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        
        .bn-social {
            display: flex;
        }
        
        .h-line {
            position: absolute;
            margin-left: 200px;
            color: white;
            width: 1480px;
            opacity: 0.5;
        }
        
        .lp-tc {
            display: flex;
            margin-top: 40px;
            margin-left: 200px;
        }
        
        .lp-tc-text1 {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;
            mix-blend-mode: normal;
            opacity: 0.5;
        }
        
        .lp-tc-text2 {
            display: flex;
            padding-left: 725px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        

    }
}
